{% extends 'base.html.twig' %}

{% block title %}{{ 'registered.page_title'|trans({}, 'register') }}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="jumbotron">
        {{ 'registered.message'|trans({}, 'register') }}
    </div>
{% endblock %}
