$primary: darken(#428bca, 20%);

$partei-red: rgb(180, 40, 55);
$partei-red-100: rgba(180, 40, 55, 0.3);
$medium-signatures: rgb(98, 98, 98);
$low-signatures: rgb(181, 181, 181);
$high-signatures: $partei-red;
$custom-control-indicator-checked-bg: $partei-red;